@media screen and (max-width: 750px) {

    body{
        background-color: red;
    }
    .biografia span{
        color: #fff;
        font-size: 29px;
    }
    
    .biografia strong{
        color: #fff;
        font-size: 38px;
    }
    .buttons {
        width: 550px;
        height: 90px;
    }

    .copyright p {
        text-align: justify;
        font-family: 'open sans';
        font-weight: 500;
        font-size: 14px;
        color: #3c3c3c;
    }
  }

  @media screen and (max-width: 650px) {

    
    .biografia span{
        color: #fff;
        font-size: 26px;
    }

    .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90px;
        height: 90px;
        background-color: gray;
        border-radius: 100%;
    }
    
    .biografia strong{
        margin-left: 9px;
        color: #fff;
        font-size: 28px;
    }

    .biografia p{
        color: #fffefe;
        font-size: 20px;
        width: 407px;
        margin-left: 10px;
    }
    
    .buttons {
        width:380px;
        height: 65px;
    }

    .buttons p{
        font-size: 15px;

    }

    .copyright p {
        font-family: 'open sans';
        font-weight: 500;
        font-size: 9px;
        color: #3c3c3c;
    }
  }


  @media screen and (max-width: 550px) {

    
    .biografia span{
        color: #fff;
        font-size: 18px;
    }

    .biografia p{
        width: 340px;
        font-size: 12px;
    }

    .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90px;
        height: 90px;
        background-color: gray;
        border-radius: 100%;
    }
    
    .biografia strong{
        margin-left: 10px;
        color: #fff;
        font-size: 15px;
    }
    .buttons {
        width: 500px;
        height: 50px;
    }

    .buttons svg{
        height: 25px;
    }
   

    .copyright p {
        font-family: 'open sans';
        font-weight: 500;
        font-size: 9px;
        color: #3c3c3c;
    }
  }

  @media screen and (max-width: 500px) {

    
    .biografia span{
        color: #fff;
        font-size: 15px;
    }

    .biografia p{
        width: 280px;
        font-size: 10px;
    }

    .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70px;
        height: 70px;
        background-color: gray;
        border-radius: 100%;
    }
    
    .biografia strong{
        margin-left: 10px;
        color: #fff;
        font-size: 15px;
    }
    .buttons {
        width: 530px;
        height: 50px;
    }

    .buttons svg{
        height: 25px;
    }

    .copyright p {
        font-family: 'open sans';
        font-weight: 500;
        font-size: 9px;
        color: #3c3c3c;
    }
  }

  @media screen and (max-width: 400px) {

    
    .biografia span{
        color: #fff;
        font-size: 15px;
    }

    .biografia p{
        width: 240px;
        font-size: 9px;
    }

    .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70px;
        height: 70px;
        background-color: gray;
        border-radius: 100%;
    }
    
    .biografia strong{
        margin-left: 10px;
        color: #fff;
        font-size: 15px;
    }
    .buttons {
        width: 500px;
        height: 45px;
    }

    .buttons p{
       font-size: 13px;
    }

    .buttons svg{
        height: 25px;
    }

    .copyright p {
        font-family: 'open sans';
        font-weight: 500;
        font-size: 9px;
        color: #3c3c3c;
    }
  }


  @media screen and (max-width: 400px) {

    
    .biografia span{
        color: #fff;
        font-size: 15px;
    }

    .biografia p{
        width: 240px;
        font-size: 9px;
    }

    .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70px;
        height: 70px;
        background-color: gray;
        border-radius: 100%;
    }
    
    .biografia strong{
        margin-left: 10px;
        color: #fff;
        font-size: 15px;
    }
    .buttons {
        width: 500px;
        height: 45px;
    }

    .buttons p{
       font-size: 13px;
    }

    .buttons svg{
        height: 25px;
    }

    .copyright p {
        font-family: 'open sans';
        font-weight: 500;
        font-size: 9px;
        color: #3c3c3c;
    }
  }

  @media screen and (max-width: 350px) {

    
    .biografia span{
        color: #fff;
        font-size: 15px;
    }

    .biografia p{
        width: 200px;
        font-size: 9px;
    }

    .logo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70px;
        height: 70px;
        background-color: gray;
        border-radius: 100%;
    }
    
    .biografia strong{
        margin-left: 10px;
        color: #fff;
        font-size: 15px;
    }
    .buttons {
        width: 450px;
        height: 45px;
    }

    .buttons p{
       font-size: 13px;
    }

    .buttons svg{
        height: 25px;
    }

    .copyright p {
        font-family: 'open sans';
        font-weight: 500;
        font-size: 9px;
        color: #3c3c3c;
    }
  }